<!doctype html>
<html>
  <body>
    <form
        id="uploadForm"
        action="http://localhost:3000/upload"
        method="POST"
        enctype="multipart/form-data">

        <input type="text" name="nome" value="David" />
        <input type="file" name="sampleFile" />
        <input type="submit" value="Upload!"  />

    </form>
    <script src="teste.js"></script>
  </body>
</html>
